@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --site-bg: #fafbfc;
}

html,
body,
#root {
  height: 100%;
}
body {
  font-family: Poppins, sans-serif;
  background-color: var(--site-bg);
}
